*{
	margin:0;
	padding:0;
}

.mainDiv {
    background-color: #074788;
    height:auto;
    -webkit-transition: background-color 5s ease-in-out;
    -moz-transition: background-color 5s ease-in-out;
    -o-transition: background-color 5s ease-in-out;
    -khtml-transition: background-color 5s ease-in-out;
    transition: background-color 5s ease-in-out;
}
.bg{
	height: 400px; width: 100%; 
	background-position:left bottom;
	background-image: url(../img/bg.png) ;
	background-repeat: no-repeat;
}
















